Dear ${userName} 

To reset you password, Please click on below link. 

Link : ${resetPasswordLink} 

Password reset link will expire in ${tokenValidityMinites} mins. 

This is an automated mail from NEO System. Please contact System Administrator for further details 

Regards,
HDFC Bank 
