Dear ${displayName} 

To reset you password, Please click on below link. 

Link : ${appPath} 

Reset Password mail for new user

This is an automated mail from NEO System. Please contact System Administrator for further details 

userName : ${userName}
password : ${password}

Regards,
HDFC Bank 
