<!DOCTYPE html>
<html>
  <head>
    <title>Clone-Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="static/prism.css" rel="stylesheet" />
    <link href="static/collect.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        function text_val() {
          var text_value = "None";
          if(document.getElementsByName("Clone_result")[0].checked) {
            text_value = "Yes";
          }
          else if(document.getElementsByName("Clone_result")[1].checked)
          {
            text_value = "No";
          }
          else if(document.getElementsByName("Clone_result")[2].checked)
          {
            text_value = "Can't say";
          }
          document.getElementsByName("result")[0].value = text_value;
        }
        
      </script>
      <style>
      body {
          background-color: black;
          background-size: 100%;
      }
      </style>
  </head>

  <body>;
    <div class="container" style="border-radius: 5px; margin-bottom: 0%;width:96%; background-color: hsla(24, 20%, 100%,.3)">
      
      <form action="#" method="POST">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="row" style="margin-top: 2.25%">
                  <div class="col-sm-3 col-md-3 col-lg-3">
                      <input type="submit" class="btn btn-danger " id="fat-btn" name = "Prev" value="Prev" onclick="output_val()">
                  </div>
                  
                  <div class="col-sm-4 col-md-4 col-lg-4">
                      <input class="form-control" id="clone-pair" type="text" name="clone_pair" value="{{clone_pair+' / 82'}}" disabled>
                  </div>
                   
                  <div class="col-sm-3 col-md-3 col-lg-3">
                      <input type="submit" class="btn btn-primary " id="fat-btn" name = "Next" value="Next" onclick="output_val()">
                  </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2" style="padding:0.25%; padding-left: 5%">
              <h4 align="center"  style="color: aliceblue" > Is it a clone ? </h4>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top:0.95%">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <input type="radio" name="Clone_result" id="option1" value="clone" onclick="text_val()"> 
                    <font color="white">&nbsp Yes &nbsp</font>
                    <input type="radio" name="Clone_result" id="option2" value="not_clone" onclick="text_val()"> 
                    <font color="white">&nbsp No &nbsp</font>
                    <input type="radio" name="Clone_result" id="option3" value="unknown" onclick="text_val()"> 
                    <font color="white">&nbsp Can't say &nbsp</font>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="padding:0.5%; padding-right: 2%">
              <input class="form-control" id="reason" type="text" name="reason" placeholder="Reason (optional)"
              value="{{reason}}">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="padding: 0.25%; padding-left: 3%">
              <h4 align="center" style="padding:0.5%; color: aliceblue"> You have selected : </h4>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0.5%; padding-right: 1%">
                <input class="form-control" id="result" type="text" name="result" value="{{result}}" disabled>
            </div>
        </div>
      </form>
    </div>

    {% for messaged in get_flashed_messages() %}

      <div class="container">
        <div class="alert alert-warning alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> Please make the choice first
        </div>
      </div>
    {% endfor %}
    
    <div class="container" style="margin: 1%; width: 98%; height: 10%;">
        
      <div style="height:620px; width:49%; float:left; margin-right: 2%; overflow-y:scroll; overflow-x: scroll">
        <pre class="line-numbers" data-line="{{lines[0]}}-{{lines[1]}}" style="width: 350%; font-size: 12.5px"><code class="language-java">
            {{contents}}
          </code></pre>
      </div>
      <div style="height:620px; width:49%; float:left; overflow-y:scroll; overflow-x: scroll">
          <pre class="line-numbers" data-line="{{lines[2]}}-{{lines[3]}}" style="width: 350%; font-size: 12.5px"><code class="language-java">
              {{contents1}}
            </code></pre>
      </div>

    </div>

    <div class="container" style="border-radius: 5px;  width:96%; background-color: hsla(24, 20%, 100%,.3)">
      <div class="row" style="padding: 0.5%">
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6 style="color: aliceblue; font-size: 100%">File 1 = {{info[0]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6 style="color: aliceblue; font-size: 100%" >Functionality ID = {{info[2]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6  style="color: aliceblue; font-size: 100%">File 2 = {{info[1]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
              <input type="button" class="btn btn-danger " id="fat-btn" name = "Logout" value="Logout" onclick="window.location.href = '/logout'">
          </div>
      </div>  

    </div>
    <script src="static/prism.js">
    </script>
  </body>

</html>